<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include('../partials/head.ejs') %> 
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../../public/css/forms.css" />
    <link rel="stylesheet" href="css/student.css">
    <link rel="stylesheet" href="css/add-teacher.css">
  </head>
<body>
    <!-- Header -->
         <%- include('../partials/header.ejs') %>
    <!-- Header Ends!! -->
    <div class="center-container">
      <p> <%= messages.success %> </p>
      <div>
        <h3 id="h4"> Ajouter Etudiant </h3>
      </div>
     <a href="/director" title="إلفاء" id="cancel" class="mt-5"><button type="button" class="btn-close" aria-label="Close" style="margin-left: 13px;"></button></a> 
     <div class="container my-5" dir="rtl">
          <form action="/add-student" class="row g-3" autocomplete="off" method="POST">
            <div class="col-md-6">
              <label class="form-label cus-label" >INE</label><span> :</span>
              <input type="text" name="INE" required placeholder="رقم التلميذ الوطني" id="input-field" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label cus-label" > Nom Complet  </label><span> :</span>
                <input type="text" required name="name_student" placeholder="اسم و نسب تلميد(ة)" id="input-field" class="form-control">
              </div>
            <div class="col-md-6">
                <label class="form-label cus-label" > Date de naissance </label><span> :</span>
                <input type="text" required name="birthday" placeholder="تاريخ الازدياد التلميد(ة)" id="input-field" class="form-control">
              </div>
            <div class="col-md-6">
                <label class="form-label cus-label">Lieu de naissance </label><span> :</span>
                <input type="text" required name="birthplace" placeholder="تاريخ الازدياد التلميد(ة)" id="input-field" class="form-control">
              </div>
            <div class="col-md-6">
                <label class="form-label cus-label" > Numero Telophone </label><span> :</span>
                <input type="text" required name="num_tel" placeholder="رقم الهاتف الخاص بالتلميذ(ة)" id="input-field" class="form-control">
              </div>
            <div class="col-md-6">
                <label class="form-label cus-label"> Adresse Electronique </label><span> :</span>
                <input type="email" name="email" required placeholder="ادخل العنوان الالكتروني الخاص بالمستخدم" id="input-field" class="form-control">
              </div>
            <div class="col-md-6">
                <label class="form-label cus-label"> Username </label><span> :</span>
                <input type="text" name="username" required placeholder="ادخل اسم المستخدم الخاص" id="input-field" class="form-control">
              </div>
            <div class="col-md-6">
                <label class="form-label cus-label"> Mot de passe </label><span> :</span>
                <input type="password" name="password" required placeholder="ادخل كلمة المرور" id="input-field" class="form-control">
                <i class="fas fa-eye" id="togglePassword"></i>
              </div>
            <div class="col-md-6">
                <label class="form-label cus-label"> Groupe  </label><span> :</span>
                <select class="form-select" aria-label="Default select example" id="input-field" required name="name_group">
                  <% groups.forEach(group => { %>
                    <option value="<%= group.name_group %>"><%= group.name_group  %></option>
                <% }) %>
                </select>
              </div>
            <div class="col-md-6">
                <label class="form-label cus-label">  Confirmer Mot de passe </label><span> :</span>
                <input type="password" required placeholder="ادخل كلمة المرور من جديد" name="confirm_password" id="input-field" class="form-control">
                </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" required>
                <label class="custom-control-label" for="customCheck1">اشهد على صحة المعلومات المصرح بها</label>
            </div>
            <button type="submit" class="btn w-25 btn-primary">إضافة</button>
          </form>
      </div>
    </div>
    <!-- <script>
            const passwordInput = document.querySelector('input[name="password"]');
            const confirmInput = document.querySelector('input[name="confirm_password"]');
            const togglePassword = document.getElementById('togglePassword');
            
            togglePassword.addEventListener('click', function () {
              togglePasswordVisibility(passwordInput);
              togglePasswordVisibility(confirmInput);
            });
            
            function togglePasswordVisibility(inputField) {
              if (inputField.type === 'password') {
                    inputField.type = 'text';
                } else {
                    inputField.type = 'password';
                  }
            }
    </script> -->
    
    <!-- footer --->
    <%- include('../partials/footer.ejs') %>  
       
    <!-- footer ends -->
</body>
</html>