<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/cours.css" />
    </head>
<body>
  <div class="container">
    <!-- header -->
        <%- include('./partials/header.ejs') %>
    <!-- header ends -->
    <div class="background">
        <a href="/dashbordstudent" title="إلفاء" id="cancel" class="mt-5"><button type="button" class="btn-close" aria-label="Close" style="margin-right: 22px;margin-bottom:30px;"></button></a> 

        <div class="container">
            <h1>Cours In Progress</h1>
            <div class="content">
                <div class="Cours">
                    <% Cours.forEach(Cour => { %>
                        <a href="/download/<%= Cour._id %>" method="get"  class="Cour">
                            <img src="/images/pdf-icon.png" alt="Network" class="icon-pdf">
                            <div class="Cour-content">
                                <span class="course-name"><%= Cour.name_cour %></span>
                                <span class="module-name"><%= Cour.module %></span>
                            </div>
                            <img src="/images/Download-icon.png" alt="Download" class="icon-download">
                        </a>
                    <% }) %>
                    <!-- End of Cours -->
                </div>
             <%# Menu  %>
            <%# 
            <div class="sidebar">
                <a href="#" class="sidebar-item">
                    <img src="home-icon.png" alt="Home">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="module-icon.png" alt="Modules">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="schedule-icon.png" alt="Schedule">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="settings-icon.png" alt="Settings">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="profile-icon.png" alt="Profile">
                </a>
            </div>
             %>
            <%# Menu  %>
        </div>
        
    </div>
</div>
        <!-- footer -->
        <%- include('./partials/footer.ejs') %>
        <!-- footer ends -->

        <!-- js -->
        <script src="JS/app.js"></script>
    </body>
</html>
