
<%- include('./partials/head.ejs') %>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<link rel="stylesheet" href="css/Profile-student.css">
<link rel="stylesheet" href="css/Profile-student.css">
<link rel="stylesheet" href="css/student.css">
<link rel="stylesheet" href="css/add-teacher.css">



    <!-- header -->
        <%- include('./partials/header.ejs') %>
    <!-- header ends -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Profile</title>

        <style>
            :root {
                --secondary-color: #FFA300;
            }
    
            .box-shadow-bottom {
                    /*box-shadow: 4px 0px 0px 10px  var(--secondary-color);*/
                    border: 1px solid var(--secondary-color);
            }
            .custom-bg-color {
                background-color: var(--secondary-oclor);
                text-align: center;
                border-bottom: 1px solid var(--text-color);
                padding: 16px;
                border-radius: 7px;
        }
       
    
            .w-25 {
                width: 25%;
            }
            .input:focus{
                border-color:  #FFA300;
            }
            td,th{
                text-align: center;
               
            }
            td,th{
                border-color: #FFA300;
               
            }
           
        </style>
        
    </head>
    <body>
      
        <p><%= messages.success %></p>
 
            <h3 class="title-5 m-b-35 custom-bg-color">تتبع النقط</h3>
            <a href="/dashbordstudent" title="إلفاء" id="cancel" class="mt-5"><button type="button" class="btn-close" aria-label="Close" style="margin-left: 13px;"></button></a> 

       
           
           
                   </div>
                   
               
                     
                   <div class="table-responsive">
                    <table class="table table-data2 w-50" style="margin-left: auto; margin-right: auto; margin-top: 5%;">
                        <thead>
                            <tr class="tr-shadow">
                                <th>Username</th>
                                <th>Name Module</th>
                                <th>Grade Normal</th>
                                <th>Grade Partiel</th>
                                <th>Grade Final</th>
                                <th>Grade Decision</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (grades && grades.length > 0) { %>    
                                <% grades.forEach(grade => { %>   
                                    <tr class="tr-shadow">
                                        <td><%= grade.username %></td>
                                        <td><%= grade.name_module %></td>
                                        <td><%= grade.grade_normal %></td>
                                        <td><%= grade.grade_partiel %></td>
                                        <td><%= grade.grade_final %></td>
                                        <td><%= grade.grade_decision %></td>
                                        <td><%= grade.timePassed %> </td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="7" class="text-center mt-4">
                                        <p>.لا يوجد اي بببب(ة)</p>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                
                   </div>
                 
</div>


   <!-- footer --->
   <%- include('./partials/footer.ejs') %>
   <!-- footer ends -->
 

</body>
</html>