<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/modules.css" />
    </head>
<body>
  <div class="container">
    <!-- header -->
        <%- include('./partials/header.ejs') %>
    <!-- header ends -->
    <div class="background">
    <div class="container">
            <h1>Modules</h1>
        <div class="content">
            <div class="modules">
                <% Modules.forEach(Module => { %>
                <a href="/cours/<%= Module.name_module %>" class="module">
                    <img src="/images/course.png" alt="Network" class="module-icon">
                    <div class="module-content">
                        <span class="<%= Module.name_module %>"><%= Module.name_module %> </span>
                        <span class="<%= Module.desc_module %>"><%= Module.desc_module %></span>
                    </div>
                    <img src="/images/row.png" alt="Network" class="module-icon-row">
                </a>
                <% }); %>
                
                <!-- End of  modules -->
            </div>
            
            <%# Menu  %>
            <%# 
            <div class="sidebar">
                <a href="#" class="sidebar-item">
                    <img src="home-icon.png" alt="Home">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="module-icon.png" alt="Modules">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="schedule-icon.png" alt="Schedule">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="settings-icon.png" alt="Settings">
                </a>
                <a href="#" class="sidebar-item">
                    <img src="profile-icon.png" alt="Profile">
                </a>
            </div>
             %>
            <%# Menu  %>
        </div>
        
    </div>
</div>
        <!-- footer -->
        <%- include('./partials/footer.ejs') %>
        <!-- footer ends -->

        <!-- js -->
        <script src="JS/app.js"></script>
    </body>
</html>
