<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/public/css/forms.css" />
        <link rel="stylesheet" href="/public/css/student.css" />
        <link rel="stylesheet" href="/css/add-teacher.css" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

      
    </head>
    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- Header Ends!! -->
        <div class="container" id="header">
            
                
             
            <div>
                <h3>الفضاء الخاص بالاستاد</h3>
            </div>
            <div class="container" id="add-rem">
               

                <a href="/teacherDashboard" title="إلفاء" id="cancel" class="mt-5"><button type="button" class="btn-close" aria-label="Close" style="margin-right: 20px;margin-bottom:0px;"></button></a> 
            
            </div>
        </div>

    <% if (StudentGroup.length > 0) { %>
      <div class="container mt-4 d-flex justify-content-center w-90 ">
            <table class="table table-striped table-bordered" dir="rtl">
                <thead class="thead-dark">
                <!-- <th scope="col" style="cursor: pointer;" id="sort-id">&UpEquilibrium; رقم الاستاذ(ة)</th> -->
                <th style="text-align: center;" scope="col">رقم التلميد(ة)</th>
                <th style="text-align: center;" scope="col">الإسم الكامل</th>
                <th style="text-align: center;" scope="col">اسم المستخدم</th>
                <th style="text-align: center;" scope="col"> الامتحان </th>
                <th style="text-align: center;" scope="col"> الجزئية </th>
                <th style="text-align: center;" scope="col"> النهائية </th>
                <th style="text-align: center;" scope="col">القرار </th>
               
                <th style="text-align: center;" scope="col"> المجموعة </th>
                <th style="text-align: center;" scope="col"> اجراء</th>
            </tr>
        </thead>
        <!-- Displaying the values -->
        <tbody class="table-group-divider">
            <% StudentGroup.forEach(Student => { %>
                <% groupTeacher.forEach(groupteacher => { %>    
                <tr class="text-center">
                             <td class="info" ><%= Student.INE %></td>
                             <td class="info"><%= Student.name_student %></td>
                             <td class="info"><%= Student.username %></td>
                            
                            
                             <td class="info"><%= Student.name_group %></td>
                                      
                         
                             
                             
                                        
                             <td class="actions">
                                <div class="d-flex">
                                    <button type="button" class="btn btn-warning me-2">
                                        <a class="fw-semibold text-decoration-none link-light py-3" href="/edit-grade/<%= Student.username %>">تحديث</a>
                                    </button>
                                    <button id="ajouter-button" type="button" class="btn btn-primary" onclick="redirectToGrades('<%= Student.username %>','<%= groupteacher.name_module %>')">
                                        <a class="fw-semibold text-decoration-none link-light py-3">اضافة</a>
                                    </button>
                                </div>
                            </td>
                </tr>
                <% }); %>
            <% }); %>
        </tbody>
    </table>

    <script>
        function redirectToGrades(usernameGrade,moduleGrade) {
            const encodedUsernameGrade = encodeURIComponent(usernameGrade);
            const encodedModuleGrade = encodeURIComponent(moduleGrade);

            window.location.href = `/add-grade/${encodedUsernameGrade}/${encodedModuleGrade}`;
        }
    </script>
    <% } else { %>
        <div class="text-center mt-4">
            <p>.لا يوجد اي بببب(ة)</p>
        </div>
    <% } %>
</div>

        <!-- footer -->
        <%- include('../partials/footer.ejs') %>
        <!-- footer ends -->
        
    </body>
</html>
